.ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.236) ;
}

.ant-col {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    align-content: center;
    flex-wrap: wrap;
}
..css-13qp4b7-MuiButtonBase-root-MuiButton-root{
    background-color : #64bda5;
}