.Red {
  background: rgb(238, 3, 3);
  color: white;
  width: 200px;
}
.Green {
  background: green;
  color: white;
  width: 200px;
}
.Orange {
  background: rgb(235, 163, 7);
  color: white;
  width: 200px;
}



@media screen and (max-width: 600px) {
  .column {
    flex: 100% !important;
  }
}
