.ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.236) ;
}

.ant-col {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    align-content: center;
    flex-wrap: wrap;
}

.css-13qp4b7-MuiButtonBase-root-MuiButton-root{
    background-color : #64bda5 !important;
}



.popup-modal-container{
    display: flex !important;
    justify-content: center !important; ;
    align-items: center !important;
    flex-direction: column !important;
    padding: 10px;
    background-color: white !important;
    color: black !important;
    width: 30% !important;
    border-radius: 10px !important;
    z-index: 9999 !important; 
    position: fixed !important;
    top: 10% !important;
    left :50% !important;
    transform: translate(-50%, -50%) !important;
}

/* @media screen and (max-width: 600px) {
    .column {
      flex: 100% !important;
    }
  } */

  @media (max-width: 580px){
    .ant-col {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      /* align-content: center; */
      flex-wrap: wrap;
    }
  }